<!DOCTYPE html>
<html lang="{{@site.locale}}">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset '/dist/global.css'}}" />
    <title>{{meta_title}}</title>
    {{ghost_head}}
  </head>

  <body class="{{body_class}}">
    <header>
      <a href="{{@site.url}}">
        {{@site.title}}
      </a>
    </header>

    {{{body}}}

    <footer>
      {{navigation}}
    </footer>

    <script src="{{asset 'dist/global.js'}}"></script>
    {{ghost_foot}}
  </body>

</html>