{{!< default}}

{{#post}}
  <article class="{{post_class}}">
    <header>
      <h1>{{title}}</h1>

      {{#if feature_image}}
        <figure class="feature-image">
          <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
          {{#if feature_image_caption}}
            <figcaption>{{feature_image_caption}}</figcaption>
          {{/if}}
        </figure>
      {{/if}}
    </header>

    <div class="editor-content">
      {{content}}
    </div>

  </article>
{{/post}}