{{!< default}}

{{#post}}

  <main>
    <article class="article {{post_class}}">
      <header class="article-header canvas">
        <div class="article-tag post-card-tags">
          {{#primary_tag}}
            <span class="post-card-primary-tag">
              <a href="{{url}}">{{name}}</a>
            </span>
          {{/primary_tag}}
          {{#if featured}}
            <span class="post-card-featured">{{> "icons/fire"}} Featured</span>
          {{/if}}
        </div>
        <h1 class="article-title">{{title}}</h1>
        {{#if custom_excerpt}}
          <p class="article-excerpt">{{custom_excerpt}}</p>
        {{/if}}
        <div class="article-byline">
          <section class="article-byline-content">
            <ul class="author-list">
              {{#foreach authors}}
                <li class="author-list-item">
                  {{#if profile_image}}
                    <a href="{{url}}" class="author-avatar">
                      <img class="author-profile-image" src="{{img_url profile_image size=" xs"}}" alt="{{name}}" />
                    </a>
                  {{else}}
                    <a href="{{url}}" class="author-avatar author-profile-image">{{> "icons/avatar"}}</a>
                  {{/if}}
                </li>
              {{/foreach}}
            </ul>
            <div class="article-byline-meta">
              <h4 class="author-name">{{authors}}</h4>
              <div class="byline-meta-content">
                <time class="byline-meta-date" datetime="{{date format=" YYYY-MM-DD"}}">{{date}}</time>
                {{#if reading_time}}
                  <span class="byline-reading-time"><span class="bull">&bull;</span> {{reading_time}}</span>
                {{/if}}
              </div>
            </div>
          </section>
        </div>
        {{#if feature_image}}
          <figure class="article-image">
            <img srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image size="m" }} 600w, {{img_url
              feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
              sizes="(min-width: 1400px) 1400px, 92vw" src="{{img_url feature_image size=" xl"}}"
              alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
            {{#if feature_image_caption}}
              <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
          </figure>
        {{/if}}
      </header>
      <section class="content canvas">
        {{content}}
      </section>
    </article>
  </main>
{{/post}}